body {
  text-align: center;
  font-family: sans-serif;
}

#playersContainer {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 20px auto;
}

.player {
  width: 60px;
  height: 60px;
  background: #FFD700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: absolute;
  top: 70px;
}

#potato {
  font-size: 50px;
  position: absolute;
  transition: transform 1s ease-in-out;
  pointer-events: none;
}
