body {
  text-align: center;
  font-family: sans-serif;
}

#potato {
  font-size: 80px;
  display: inline-block;
  margin: 20px;
  transition: transform 0.6s;
}

.throw {
  transform: translateX(200px) rotate(720deg);
}
